header{
    margin: 0;
    padding: 30px 0px;
    color: white;
    background-color: thistle;
    border-bottom: 3px solid tomato;
}

.container{
    width: 70%;
    margin: auto;
    overflow: hidden;
}

li{
    display: inline;
    padding-right: 25px;
}

header nav{
    float: right;
    padding-top: 10px;
}

header h1{
    float: left;
}

footer{
    padding: 30px;
    text-align: center;
    background-color: turquoise;
    color: black;
}