.square {
	width: 250px;
	height: 250px;
	margin: 1rem 0 2rem 1rem;
	background-color: blue;	
}

/* Blue to green */
#color .square {

}

#color .square:hover {
  background-color: green;
}


/* Square to circle */
#circle .square {

}

#circle .square:hover { 
  border-radius: 50%;
  background-color: purple;
}













